body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dde6ed;
}

.parent-div {
  background-color: #27374d;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
}

.grid-cards {
  background-color: #526d82;
  border-radius: 10px;
  padding: 20px;
}

.flex-parent {
  display: flex;
  gap: 20px;
}

.flex-img {
  object-fit: cover;
  border-radius: 10px;
}

p {
  color: #dde6ed;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #27374d;
  text-align: center;
}
/* Medium Screen ( 992 < width <= 768) 

@media (max-width: 992px) {
  body {
    background-color: #526d82;
  }
  .parent-div {
    width: 90%;
  }
}
*/

/* Small Screen ( 767 < width <= 576) 
@media (max-width: 767px) {
  body {
    background-color: #9db2bf;
  }
  .parent-div {
    grid-template-columns: repeat(1, 1fr);
  }
}
*/
/* Extra Small ( 575 <= width )   
@media (max-width: 575px) {
  body {
    background-color: black;
  }
  p{
    font-size: 15px;
  }
} 

*/
