#parent-div{
    background: red;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

.child-div{
    margin: 20px;
    padding: 20px;
    background: violet;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#child-div1{
    background: green;
    /* position: absolute; */
    bottom: 100px;
    right: 100px;
}

.child{
    padding: 20px;
    margin: 20px;
}

#parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}