#parent-div{
    background: red;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

.child-div{
    margin: 20px;
    padding: 20px;
    background: violet;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#child-div1{
    background: green;
    /* position: absolute; */
    bottom: 100px;
    right: 100px;
}

.child{
    padding: 20px;
    /* height: min-contents; */
}

#parent{
    gap: 20px;
    display: flex;
    /* height: 100vh; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

#child1{
    /* flex-grow: 1; */
    justify-self: center ;
}

#child2{
    /* flex-grow: 1; */
}
 #child3{
    /* flex-grow: 1; */
    /* order: -1; */
}
#child4{
    /* flex-grow: 1; */
    /* order: 101; */
    align-self: center;
} 